<h3>here is the form</h3>

<form action="/recipes" method="post">
  <p>enter the recipe name<input type="text" name="title"></p>
  <p>enter the recipe ingredients<input type="text" name="ingredients"></p>
  <input type="submit">
</form>
